*.iml
.gradle
/local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/**
.idea/caches/build_file_checksums.ser
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
!.idea/codeStyle
.DS_Store
/build
/captures
.externalNativeBuild
